<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body marginwidth="0" marginheight="0" leftmargin="20" topmargin="20">


<script>
    function parseClickPing() {
        var qs = window.location.search, params = {};
        if (qs != null) {
            qs = qs.substring(1);
            var query = qs.split("&");
            for (var i = 0, l = query.length; i < l; i++) {
                temp = query[i].split('=');
                params[temp[0]] = temp[1];
            }
        }
        return params;
    }

    var params = parseClickPing();
</script>


<img class="itemimage" onclick="window.top.dost(params['clk']+'https://m.4008823823.com.cn')"/>
<!--<img style="border: 0pt none; display: inline-block; width: 50px; height: 50px;" src='kfc.png'-->
<!--onclick="window.top.dost(params['clk']+'https:////m.4008823823.com.cn')"/>-->
</body>
</html>
