<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <title>oneclickorder</title>
    <!--click to show/hide order menu-->
    <script>
        function dost(uri) {
            var subp = document.getElementById('clicktoorder');
            if (subp.style.display == 'block') {
                subp.style.display = 'none'
            } else
                subp.style.display = 'block';
            subp.src = uri;
        }
    </script>
</head>
<body>
<!-- Google banner script-->
<div data-glade data-ad-unit-path="/50378101/sage/c2b" style='position:fixed;top:470px; right:25%;' height="50" width="50"
></div>
<script async='async' src='https://securepubads.g.doubleclick.net/static/glade.js'></script>
<!-- sample livestream room-->
<img style='height:700px;width:100%;' src='/img/2.png'/>
<!-- click to order site-->
<iframe style='display:none; position:fixed; width:24%;height:615px; right:8%;top:83px;' id='clicktoorder'
        src='https://m.4008123123.com'/>
</body>
</html>
