.itemimage {
    border: 0pt none;
    top: 50%;
    right: 50%;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("/img/kfc.png");
    background-size: 100%;
    transition: all 0.6s;
}

.itemimage:hover {
    transform: scale(3.0);
}
